/*
Registration/Login Form by html-form-guide.com
You can customize all the aspects of the form in this style sheet
*/

#membersite fieldset
{
   width: 230px;
   padding:20px;
   border:1px solid #ccc;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;   
}

#membersite legend, #membersite h2
{
   font-family : Arial, sans-serif;
   font-size: 1.3em;
   font-weight:bold;
   color:#333;
}

#membersite label
{
   font-family : Arial, sans-serif;
   font-size:0.8em;
   font-weight: bold;
}

#membersite input[type="text"],#membersite textarea,
#membersite input[type="password"]
{
  font-family : Arial, Verdana, sans-serif;
  font-size: 0.8em;
  line-height:140%;
  color : #000; 
  padding : 3px; 
  border : 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}

#membersite input[type="text"],
#membersite input[type="password"]
{
  height:18px;
  width:220px;
}

 #membersite #scaptcha
{
  width:60px;
  height:18px;
}

#membersite input[type="submit"]
{
   width:100px;
   height:30px;
   padding-left:0px;
}

#membersite textarea
{
  height:120px;
  width:310px;
}

#membersite input[type="text"]:focus,
#membersite textarea:focus
{
  color : #009;
  border : 1px solid #990000;
  background-color : #ffff99;
  font-weight:bold;
}

#membersite .container
{
   margin-top:8px;
   margin-bottom: 10px;
}

#membersite .error
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#membersite .pwderror
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#membersite .pflerror
{
   font-family: Verdana, Arial, sans-serif; 
   font-size: 0.7em;
   color: #900;
   background-color : #ffff00;
}

#membersite #register_password_errorloc
{
    clear:both;
}

#membersite  fieldset#antispam
{
   padding:2px;
   border-top:1px solid #EEE;
   border-left:0;
   border-right:0;
   border-bottom:0;
   width:350px;
}

#membersite fieldset#antispam legend
{
   font-family : Arial, sans-serif;
   font-size: 0.8em;
   font-weight:bold;
   color:#333;   
}

#membersite .short_explanation
{
   font-family : Arial, sans-serif;
   font-size: 0.6em;
   color:#333;   
}

/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#membersite .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#membersite #fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#membersite  #fg_crdiv p
{
    display:none;
}

#membersite_content li
{
font-family : Arial, sans-serif;
padding-top:10px;
padding-bottom:10px;
}
#membersite_content
{
    font-family : Arial, sans-serif;
    font-size: 0.9em;
    line-height: 150%
}

#membersite_content h2
{
   font-family : Arial, sans-serif;
   font-size: 1.5em;
   font-weight:bold;
   color:#333;
}

/*@import url("http://fonts.googleapis.com/css?family=Roboto:300,400,500,700");

.containerss { margin-top: 20px; }
.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }
*/
/* MY ADDITIONS More info */
.searchview .searchresultlisting .searchresultlistingitem {
  background-color: white;
  border-color: red; 
  border-style: double;
  border-width: 10px;
  margin-bottom: 10px;
  /*margin-left: 180px;*/
  overflow: hidden;
  text-align: left;
  clear:both;
}

.searchview .searchresultlisting .searchresultlistingitem .searchresultprofileimage{
  float: left;
  width: 20%;
 }


.searchview .searchresultlisting .searchresultlistingitem .searchresultprofiledetail{
   float: left;
   width: 80%;
}

.profilecontact{
    margin: 0;
    padding: 0;
}

.horizontal {
    margin: 0;
    padding: 0;
}

.profilecontact li {
    display: inline-block;
    

/*.searchview .searchresultprofileimage{
  float: left;
  width: 20%;
 }

.searchview .searchresultprofiledetail{
   float: left;
   width: 80%;
}
*/
